alias chrome='google-chrome-stable'
alias uio='ssh -YC bendiksa@login.ifi.uio.no'
alias grep='grep -E --color=auto'
alias ls='ls -Gp --color=auto'
alias l='ls -CF --color=auto'
alias ll='ls -alF --color=auto'
alias certify='codesign -f -s "Bendik Samseth" --deep'
alias weather='curl -4 wttr.in'
alias nosetests='/usr/local/bin/nosetests-3.4'
alias makelatex='latexmk -quiet -bibtex -pvc -f -pdf -pdflatex="pdflatex -synctex=1 -interaction=nonstopmode"'
alias show='tree -L 2'
alias ccat='pygmentize -g'

git_add_to_last_commit() {
    git add $1
    git commit --amend $2
}

alias gatl='git_add_to_last_commit'
